
{%extends "layout.html"%}
{%block title%} Collezione {%endblock%}
{%block head%} 
{{super ()}}
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  .book {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  }
  .book h2 {
    margin-top: 0;
  }

  .availability-icon {
            font-size: 24px;
            vertical-align: middle;
        }
        .available {
            color: green;
        }
        .not-available {
            color: red;
        }

     

      
       



</style>
{%endblock%}

{%block content%}
<form action="/ricerca" method="post">
  <label>Ricerca per titolo e/o autore</label> <br>
	<label for="search">Titolo</label>
	<input id="search" name="Titolo" placeholder="Titolo..." type="search">
  <label for="search">Autore</label>
  <input id="search" name="Autore" type="search" placeholder="Autore...">
  <input type="submit">
</form>

<div class="container">
    <h1>Elenco Libri</h1>
    <h1 style="color: rgb(7, 222, 50);"></h1style> {{messaggio}}</h1>
    {% for post in posts %}
    <!-- Sezione 1 -->
    <div class="section">
        <div class="book">
          <div  class="book-info " style="text-align: left;" > <!-- Div per contenere il titolo e l'autore -->
            <h1>{{ post.Titolo }}</h1>
            <p class = "izquierda">Autore: {{ post.Autore }}</p>
        </div>
            
            <p> {{ post.Descrizione }}</p>

            <p class = "derecha">
              Disponibilità:
              {% if post.Disponibilita %}
              <span class="availability-icon available">&#10003;</span>
              {% if 'nome' in session %}
              <form action="/prenotare" method="POST">
                <input type="hidden" name="ISBN" value="{{ post.ISBN }}">
                <input type="hidden" name="N_Copie" value="{{ post.N_Copie }}">
     
                <button type="submit" class="button">Prenota</button>
                </form>
                {% else %}
                <a href="{{ url_for('login') }}" class="button">Entra per prenotare</a>
                {% endif %}
          {% else %}
              <span class="availability-icon not-available">&#10007;</span>
          {% endif %}
            </p>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div style="color: rgb(7, 222, 50);" class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
    {% endfor %}

  
    <!-- Ripetere il formato per altre sezioni, se necessario -->
  
</div>
{%endblock%}
