
{%extends "layout.html"%}
{%block title%} Collezione {%endblock%}
{%block head%} 
{{super ()}}
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  .book {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  }
  .book h2 {
    margin-top: 0;
  }
</style>
{%endblock%}

{%block content%}
<form action="/ricerca" method="post">
  <label>Ricerca per titolo e/o autore</label> <br>
	<label for="search">Titolo</label>
	<input id="search" name="Titolo" placeholder="Titolo..." type="search">
  <label for="search">Autore</label>
  <input id="search" name="Autore" type="search" placeholder="Autore...">
  <input type="submit">
</form>

<div class="container">
    <h1>Elenco Libri</h1>

    {% for post in posts %}
    <!-- Sezione 1 -->
    <div class="section">
      <div class="book">
        <h2>{{post.Titolo}}</h2>
        <p>{{post.Autore}}</p>
      </div>
    </div>
    {%endfor%}

  
    <!-- Ripetere il formato per altre sezioni, se necessario -->
  
</div>
{%endblock%}
