
{%extends "layout.html"%}
{%block title%} Home {%endblock%}
{%block head%} 
{{super ()}}
{%endblock%}

{%block content%}
<h2>Benvenuti alla Biblioteca Comunale</h2>
    <p>Benvenuti nella Biblioteca Comunale, il luogo dove le storie prendono vita e le menti si aprono a un mondo di conoscenza infinita...</p>
    <h3>Esplora la nostra vasta collezione</h3>
    <p>La nostra biblioteca ospita una vasta collezione di libri, riviste, giornali, DVD e molto altro ancora...</p>
    <h3>Servizi per tutti</h3>
    <p>Oltre alla nostra ricca collezione, offriamo una serie di servizi progettati per soddisfare le esigenze di tutti i nostri utenti...</p>
  
{%endblock%}
