{%extends "layout.html"%}
{%block title%} Home {%endblock%}
{%block head%} 
{{super ()}}


{%endblock%}
{%block content%}
<h2>Bentornato {{ user }}</h2>
    <p> hoes mad </p>
    {% for post in posts %}
    {% for past in pasts %}
  
    {% if post.ID == user and post.ISBN == past.ISBN %}
      
            <div class="section">
                <div class="book">
                    <div class="book-info" style="text-align: left;">
                        <!-- Mostra solo il titolo del libro -->
                        <h1>{{ past.Titolo }}</h1>
                        
                        <pclass="izquierda">   {{ messaggio }}  </p>
                        <form action="/restituire" method="POST">
                            <input type="hidden" name="ISBN" value="{{ past.ISBN }}">
                            <input type="hidden" name="user" value="{{ user }}">
                 
                            <button type="submit" class="button">restituisci</button>
                        </form>
                    </div>
                </div>
          
  
    <!-- Ripetere il formato per altre sezioni, se necessario -->
  
</div>
{% endif %}
{% endfor %}
{% endfor %}
{%endblock%}

